<h1>Materias</h1>
<button type="button" *ngIf="this.isAdminFlag" (click)="openAgregarMateria()" class="btn btn-success my-2">
  Agregar materia
</button>
<div class="mat-elevation-z8 table-responsive">
  <table mat-table [dataSource]="dataSource" [hidden]="loading">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let materia">{{ materia.id }}</td>
    </ng-container>
    <ng-container matColumnDef="nombreMateria">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let materia">
        {{ materia.nombreMateria }}
      </td>
    </ng-container>
    <ng-container matColumnDef="descMateria">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let materia">
        {{ materia.descMateria }}
      </td>
    </ng-container>
    <ng-container matColumnDef="modificar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let materia">
        <button
          type="button"
          class="btn btn-info my-2"
          *ngIf="this.isAdminFlag"
          (click)="openModificarMateria(materia.id)"
        >
          Modificar
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let materia">
        <button
          type="button"
          class="btn btn-danger my-2"
          *ngIf="this.isAdminFlag"
          (click)="openBorrarMateria(materia.id)"
        >
          Eliminar
        </button>
      </td>
    </ng-container>
  </table>
  <app-spinner [loading]="this.loading"></app-spinner>

  <mat-paginator
    [disabled]="loading"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Recorrer páginas"
  >
  </mat-paginator>
</div>
